@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@300;600&family=Tektur:wght@500&display=swap');
:root {
    --f1 :'Poppins', sans-serif;
    --f2: 'Nunito', sans-serif;
    --f3: 'Tektur', cursive;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C5364;
}


@media (max-width: 1700px) {

    html,body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .container {
        width: 400px;
        height: 731px;
        position: relative;
        overflow: hidden;
        background-image: linear-gradient(to right top, #00416a, #476788, #7a8fa6, #aeb9c6, #e4e5e6);
        margin: 2px;
        }
    
    .container > img {
        transform: rotate(2deg);
        position: absolute;
        top: 20%;
        left: 80%;
        width: 800px;
        height: 500px;
        transition: 0.5s ease-in;
    }

    .container button {
        position: relative;
        top: 75%;
        left: 15%;
        width: 70%;
        padding: 10px;
        height: 50px;
        font-size: 18px;
        border-radius: 30px;
        background-color: #1587dd;
        border: 1.2px solid gray;
        text-align: center;
        cursor: pointer;
        display: block;
        border: none;
    }


    .container a {
        text-decoration: none;
        color: white;
        font-family: var(--f2);
    }


    .container .logo {
        position: relative;
        top: 10%;
        color: white;
        font-family: var(--f3);
        font-size: 28px;
    }

    .logo p {
        font-size: 16px;
        font-family: var(--f2);
        position: relative;
        top: 80px;
        left: 4px;
    }
    .container .logo .bottom-heading {
        position: absolute;
        
    }
}